<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatty</title>
  <script src="js/lib/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1>Chatty</h1>

  
  <div ng-controller="UserCtrl">
    <label>Add a user</label>
    <form ng-submit="addUser()" ng-hide="added">
      <input type="text" ng-model="userName.name" placeholder="name..." />
      <input type="submit" value="add a user">
    </form>
    <hr>
   <div ng-repeat=" user in users">
     {{user.name}}
   </div>
  </div>


  <div id="convo" ng-repeat="">  
<ul class="chat-thread">
  <li>Are we meeting today?</li>
  <li>yes, what time suits you?</li>
  <li>I was thinking after lunch, I have a meeting in the morning</li>
    <li>Are we meeting today?</li>
  <li>yes, what time suits you?</li>
  <li>I was thinking after lunch, I have a meeting in the morning</li>
    <li>Are we meeting today?</li>
  <li>yes, what time suits you?</li>
  <li>I was thinking after lunch, I have a meeting in the morning</li>
    <li>Are we meeting today?</li>
  <li>yes, what time suits you?</li>
  <li>I was thinking after lunch, I have a meeting in the morning</li>
</ul>
</div>
</body>
</html>