<!DOCTYPE html>
<html ng-app ="chatty">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatty</title>
  <script src="js/lib/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  

  
  <div ng-controller="UserCtrl" class="container">
    <h1>Chatty</h1>
    <!-- <button ng-click="clear()">Clear</button> -->
    <label ng-hide="userName.added == true">Add a user</label>
    <form ng-submit="addUser()" ng-hide="added">
      <input ng-hide="userName.added == true" type="text" ng-model="userName.name" placeholder="name..." />
      <input ng-hide="userName.added == true" type="submit" value="add a user">
    </form>
    <hr>

    <h3>Group Members </h3>
    <ul class="group-list">
      <li ng-repeat=" user in users">{{user.name}}</li>
    </ul>
 </div>

<div ng-show="displayName.added == true" ng-controller="MessagesCtrl" class="messageList">

  <h1 > Hi {{displayName.givenName}} </h1>
   <label>Send Message</label>
    <form ng-submit="sendMessage()" >
      <input type="textarea" ng-model="message.text" placeholder="" />
      <input type="submit" value="Send">
    </form>
  <div id="convo" data-from="Sonu Joshi">  
    <ul class="chat-thread">
      <li ng-repeat="message in messages">{{message.userName}} :  {{message.text}}</li>
      
    </ul>
  </div>

 
</div>
</body>
</html>